{% extends "main_app/layout.html" %}

{% block body %}
<div class="grid-2">
  <div class="container-headline">
    <div class="txt-headline">Покупка фильма</div>
  </div>

  <div class="grid-for-films">
<div class="film-buyed-first-process">
  <div class="film-cover">
    <img src={{film.photo}} class="poster">
  </div>
  <div class="full-film-container">
    <div class="film-container">
      <div class="film-container-txt">
        <div class="film-txt">{{ film.title }}</div>
        <div class="film-genre">{{film.year}}, {{film.genre}}</div>
        <div class="film-producer">Режиссер: {{film.director}}</div>
        <div class="film-description">
          <div class="film-description-txt">{{film.overview}}</div>
        </div>
      </div>
    </div>
    <div class="film-buyed-first-process-container" method="POST">
      {% csrf_token %}
      <div class="film-buyed-first-process-container-inputs">
        <input class="input-form" name="mail">
          <div class="input-form-2">
            <div class="input-txt">Введите электронную почту</div>
          </div>

        <input class="input-form-next" name="card">
          <div class="input-form-2-next">
            <div class="input-txt">Введите номер банковской карты</div>
          </div>

      </div>
      <div class="procedure-paying">
        <div class="procedure-paying-checkbox">
          <input type="checkbox" class="procedure-paying-checkbox-status">
            <div class="procedure-paying-txt">Выслать ли вам чек об покупке фильма на электронную почту?</div>
        </div>
        <div class="procedure-paying-checkbox">
          <input type="checkbox" class="procedure-paying-checkbox-status">
            <div class="procedure-paying-txt">Я согласен с вашими Условиями и Положениями сервиса</div>
          </div>
        <div class="cta-buttons-container">
          <div class="cta-buttons-buy"><a class="name_link" href="{% url 'pay' user_id film.id %}">Оплатить фильм</a></div>
          <div class="cta-buttons-buy2"><a class="name_link" href="/IKINO/films/library/{{user_id}}">Отмена</a></div>
        </div>
      </div>
    </div>

  </div>
</div>
</div>
</div>

{% endblock %}