<html lang="en">

<head>
  <meta charset="utf-8">
  <title>И КИНО</title>
  <link rel="stylesheet" href="/static/main_app/style.css">
</head>

<body style="background: #F4F4F4">
  <div class=header>
    <div class="logotype">
      <img src="/static/main_app/resources/logotype.svg">
    </div>

    <form  class="search">
      <input class="search-input">
      <div class="icon-filter">
        <img src="/static/main_app/resources/filter-16x16.svg">
      </div>
      <div class="icon-search">
        <img src="/static/main_app/resources/search-18x18.svg">
      </div>
    </form>

    <div class="account">
      <div class="library">
        <div class="library-txt"><a href="{% url 'pers_library' 28 %}">Личная бибилиотека</a></div>
        <div class="icon-library">
          <img src="/static/main_app/resources/library-24x24.svg">
        </div>
      </div>
      <div class="account-photo"></div>
    </div>

  </div>
  <div class="ilya">
    <div class="ilya-container">
      <div class="ilya-icon">
        <img src="/static/main_app/resources/genres-24x24.svg">
        <div class="ilya-icon-txt">Жанры</div>
      </div>
      <div class="ilya-genres">
        {% for genre in genres %}
          <p><a href="/main_app/films/{{ genre}}">{{ genre }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
  <div class="grid-2">
    <div class="container-headline">
      <div class="txt-headline">Оплаченные фильмы</div>
    </div>
    <div class="grid-for-films">
      {% if films %}
        {% for film in films %}
        <div class="film">
          <div class="film-cover">
            <img src="{{ film.photo }}">
          </div>
          <div class="full-film-container">
            <div class="film-container">
              <div class="film-container-txt">
                <div class="film-txt">{{ film.title }}</div>
                <div class="film-genre">{{ film.year }}, {{ film.genre }}</div>
                <div class="film-producer">Режиссер: {{ film.director }}</div>
                <div class="film-description">
                  <div class="film-description-txt">{{ film.overview }}
                    <form class="film-buy-ticket">
                      <input type="submit" class="buy-button" value="Приобрести фильм" <a href="{% url 'pers_library' 28 %}"></a>>
                      <div class="buy">
                        <div class="film-icon-buy-ticket">
                          <img src="/static/main_app/resources/ticket-20x20.svg">
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}

    </div>
  </div>
</body>
</html>