<html lang="en">

<head>
  <meta charset="utf-8">
  <title>IKINOINPUT</title>
  <style>
   a {
   text-decoration: none;
   }
  </style>
  <link rel="stylesheet" href="/static/main_app/IKINOStyle.css">
</head>

<body>
  <header>
  </header>
  <main>
    <form class="input-window" method="POST">
      {% csrf_token %}
      <div class = "logo"><img src="/static/main_app/resources/logotype-black.svg"></div>
      <div class = "input-txt">Войдите или зарегистрируйтесь</div>
      <div class = "input-form">
        <input class = "input-number" type="text", name="login">
          <div class = "input-number-txt">
            <div class = "number-txt">Введите номер телефона</div>
          </div>
        <input class = "input-password" type="password", name="password">
          <div class = "input-password-txt">
            <div class = "password-txt">Введите пароль</div>
          </div>
      </div>
      <button class = "authorization" type="submit" value="Войти в аккаунт">Войти в аккаунт</button>
      <button class = "registration" type="submit" value="Создать аккаунт"><a class = "name_link2" href="{% url 'signup' %}">Создать аккаунт</a></button>
    </form>
  </main>
  <footer>
  </footer>
</body>