<html lang="en">

<head>
  <meta charset="utf-8">
  <title>И КИНО</title>
  <style>
    a {
    text-decoration: none;
    }
   </style>
  <link rel="stylesheet" href="/static/main_app/style.css">
</head>

<body style="background: #F4F4F4">
  <div class=header>
    <div class="logotype">
      <img src="/static/main_app/resources/logotype.svg">
    </div>

    <form  class="search">
      <input class="search-input">
      <div class="icon-filter">
        <img src="/static/main_app/resources/filter-16x16.svg">
      </div>
      <div class="icon-search">
        <img src="/static/main_app/resources/search-18x18.svg">
      </div>
    </form>

    <div class="account">
      <div class="library">
        <div class="library-txt"><a class="name_link" href="/IKINO/films/library/{{user_id}}">Личная бибилиотека</a></div>
        <div class="icon-library">
          <img src="/static/main_app/resources/library-24x24.svg">
        </div>
      </div>
      <div class="account-photo"></div>
    </div>

  </div>
  <div class="ilya">
    <div class="ilya-container">
      <div class="ilya-icon">
        <img src="/static/main_app/resources/genres-24x24.svg">
        <div class="ilya-icon-txt">Жанры</div>
      </div>
      <div class="ilya-genres">
        {% for genre in genres %}
          <p><a class="name_link2" href="{% url 'show_genre' genre user_id %}">{{ genre }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock %}
  
</body>
</html>