<html lang="en">

<head>
  <meta charset="utf-8">
  <title>И КИНО</title>
  <style>
    a {
    text-decoration: none;
    }
   </style>
  <link rel="stylesheet" href="/static/main_app/style.css">

  <script>
    function dropdownFunc() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(e) {
      if (!e.target.matches('.filter-button')) {
        var myDropdown = document.getElementById("myDropdown");
          if (myDropdown.classList.contains('show')) {
            myDropdown.classList.remove('show');
          }
      }
    }
  </script>
</head>

<body style="background: #F4F4F4">
  <div class=header>
    <div class="logotype">
      <img src="/static/main_app/resources/logotype.svg">
    </div>

    <form class="search" action="/IKINO/films/search/{{user_id}}/">
      <input class="search-input" name="title" value = "">

      <button class="filter-button" onclick="dropdownFunc()">
        <div class="icon-filter">
          <img src="/static/main_app/resources/icon_filter.svg">
        </div>
      </button>

      <div class="icon-search">
        <button type="submit"><a class="name_link" href="/IKINO/films/search/{{user_id}}/{{title}}"><img src="/static/main_app/resources/icon_search.svg"></a>
        </button>
      </div>

      <div class="dropdown-content" id="myDropdown">
        <div class="search-content">
          <div class="search-content-text">Настройки поиска</div>
          <div class="search-genres">
            <div class="search-genres-text">По жанру:</div>
            <select class="overlay-genres-text" name="chosen_genre">
              <option selected disabled hidden>Выберите жанр</option>
                {% for genre in genres %}
                    <option value="{{ genre }}">{{ genre }}</option>
                {% endfor %}
            </select>
          </div>
          <div class="search-year">
            <div class="search-year-text">по году выпуска:</div>
          <input class="search-year-input" value="Введите год выпуска">
          </div>
        </div>
      </div>
    </form>

    <div class="account">
      <div class="library">
        <div class="library-txt"><a class="name_link" href="/IKINO/films/library/{{user_id}}">Личная бибилиотека</a></div>
        <div class="icon-library">
          <img src="/static/main_app/resources/library-24x24.svg">
        </div>
      </div>
      <div class="account-photo"></div>
    </div>

  </div>
  <div class="ilya">
    <div class="ilya-container">
      <div class="ilya-icon">
        <img src="/static/main_app/resources/genres-24x24.svg">
        <div class="ilya-icon-txt">Жанры</div>
      </div>
      <div class="ilya-genres">
        {% for genre in genres %}
          <p><a class="name_link2" href="{% url 'show_genre' genre user_id %}">{{ genre }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
  {% block body %}
  {% endblock %}
  
</body>
</html>